table {
    padding-top: 2%;
    width: 100%;
}

table>tbody>tr:hover {
    background: rgb(240, 240, 240);
}

thead {
    text-align: left;
}

tr>td {
    font-size: 16px;
}

.fw600 {
    font-weight: 600;
}

th {
    padding: 0.75% 5px 0.75%  5px;
    font-size: 13px;
}



th:nth-child(n+4){
    text-align: right;

}

td:nth-child(n+4) {
    text-align: right;

}




tbody>tr>td:first-child {
    margin: 15px 0 0 15px;
    margin-top: 14px;
    align-self: center;
    text-align: center;
    width: 10px;
    font-size: 15px;
}


.marginLeft {
    margin-left: 10px;
}

.rectLine {
    position: absolute;
    border: 1px solid rgb(233, 233, 233);
    width: 84%;
}

