.card{
    background-color: #fff;
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-right: 15px;
    box-shadow: 5px 10px 10px rgba(104, 116, 136, 0.5);
    
}

.cardBody{
    padding: 14px;
    font-weight: 600;
    font-size: 12px;
}

.cardTitle{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}



.textMuted{
    font-size: 13px;
    color: #808a9d;
    margin-left: 8px;
}

.card .cardBody a{
    float: right;
    margin: 0px;
    text-decoration: none;
    color: rgb(56, 97, 251);
    font-weight: 700;
}


.card .cardBody a:hover{
    float: right;
    margin: 0px;
    text-decoration: none;
    color: rgb(116, 145, 248);

}

.wrapperTitle{
    display:flex;
    align-self: center;
}

.imgFire{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    transform: translate(0,10%);
}

.idNumber{  
    margin: 0 10px 0 10px;
    color: #9198a5;
    font-size: 12px;
}


.wrapperContent{
    display: flex;
    align-self: center;
    justify-content: space-between;
}


.wrapperCards{
    display: flex;
    margin: 10px 0 30px 0;
}

.noMargin{
    margin: 0px;
}

