nav {
    padding: 0 !important;
    display: inline-flex;
    justify-content: start;
    align-self: center;
}

.imgCoinmarket {
    width: 215px;
}

.wrapper {
    display: inline-flex;
    width: 100%;
    padding: 0.5% 20% 0.5% 6%;
    align-self: center;
}


nav>div>span {
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}


.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent {
    display: none;
    position: absolute;
    border-radius: 10px;
    padding: 16px;
    background-color: #fff;
    width: 300px;
    z-index: 1;
    left: 50%;
    cursor: pointer;
    margin-top: 0px;
    transform: translate(-50%, 0%)
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
}

.subItem {
    padding: 8px;
    display: grid;
    grid-template-columns: max-content auto auto auto;
    -webkit-box-align: center;
    align-items: center;
}

.dropdownContent a {
    display: block;
    min-height: 60px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.subItem:hover {
    background-color: rgb(247, 247, 247);

}

.dropdownContent .subItem>:first-child {
    margin-right: 16px;
    width: 42px;
    height: 42px;
    vertical-align: middle;
}

.dropdown:hover .arrowUp {
    margin-left: 33.3%;
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.diamond {
    display: block;
    width: 28px;
    cursor: pointer;
    text-align: center;
}

.imgUser {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.div1 {
    padding-left: 25px;
    min-height: 50px;
}

.div2 {
    position: relative;
    top: 25%;
}

.wrapperSearch{
    margin-left: 20px;
    display: flex;
    align-self: center;
    text-align: center;
}

.wrapperSearch >input{
    width :200px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    border: 0px !important;
}
