button{
  -webkit-box-align: center;
  background-color: rgb(56, 97, 251);
  align-items: center;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

button:hover {
  background-color: rgb(43, 82, 223);
}
* {
  box-sizing: border-box;
}